{% extends "base.html" %}

{% block content %}

<h3>File Info</h3>
<table>
<tr><td>File name</td><td>{{ bigfile.name }}</td></tr>
<tr><td>Upload date</td><td>{{ bigfile.upload_date }}</td></tr>
<tr><td>Expire date</td><td>{{ bigfile.expire_date }}</td></tr>
<tr><td>Message</td><td>{{ bigfile.message }}</td></tr>
<tr><td>URL</td><td><a href="{{ STORAGE_URL }}/{{ bigfile.secret }}/{{ bigfile.name }}">{{ STORAGE_URL }}/{{ bigfile.secret }}/{{ bigfile.name }}</a></td></td></tr>
</table>

<h3>Downloaders</h3>
{% if bigfile.downloaders %}
    <table>
    <tr>
    {% for downloader in bigfile.downloaders.all %}
        <td>{{ downloader.email }}</td>
    {% endfor %}
    </tr>
    </table>
{% else %}
    No downloaders
{% endif %}

{% endblock %}





